/*
Include the standard variables from Mailspring's base theme:
https://github.com/Foundry376/Mailspring/blob/master/app/static/style/base/ui-variables.less
*/
@import "base/ui-variables";


@light_haze: #3c2a5c;
@dark_haze: #2b1544;
@border: darken(@dark_haze, 10%);

@accent-primary: #E15FED;
@accent-primary-dark: darken(@accent-primary, 10%);

@background-primary: @light_haze;
@background-off-primary: lighten(@light_haze, 10%);
@background-secondary: @dark_haze;
@background-tertiary: @dark_haze;

@border-color-primary: lighten(@border, 10%);
@border-color-secondary: lighten(@border, 10%);
@border-color-tertiary: lighten(@background-tertiary, 10%);
@border-color-divider: @border-color-secondary;

@text-color: #F2F2F2;
@text-color-subtle: fadeout(@text-color, 20%);
@text-color-very-subtle: fadeout(@text-color, 40%);
@text-color-inverse: #F2F2F2;
@text-color-inverse-subtle: fadeout(@text-color-inverse, 20%);
@text-color-inverse-very-subtle: fadeout(@text-color-inverse, 50%);
@text-color-heading: #E15FED;

@text-color-link: @accent-primary;
@text-color-link-hover: @accent-primary-dark;
@text-color-link-active: @accent-primary-dark;

@btn-default-bg-color: lighten(@background-primary, 5%);
@dropdown-default-bg-color: darken(@dark_haze, 10%);

@input-bg: darken(@dark_haze, 2%);
@input-border: @border-color-divider;

@list-bg: darken(@dark_haze, 5%);
@list-border: lighten(@list-bg, 0%);
@list-selected-color: @text-color-inverse;
@list-focused-color: @text-color;

@panel-background-color: @dark_haze;
@background-color-info: lighten(@light_haze, 10%);